body {
    background-color: black !important;
}

#leftHalf {
   background: url(img/Name%20Logo.png);
    background-size: cover;
   width: 15%;
   position: absolute;
   left: 0px;
   height: 15%;
}
#rightHalf {
   background: url(img/jones.jpeg);
   width: 50%;
   position: absolute;
   right: 0px;
   height: 100%;
    background-size: cover;
}