body {
    background-color: black !important;
}

#halfsParent {
    overflow: hidden;
}

#leftHalf {
/*   background: url(img/Name%20Logo.png);*/
    background-size: cover;
   width: 50%;
    margin: 0px;
   position: absolute;
   left: 0px;
/*   height: 15%;*/
    top: 35%; 
}

#logo {
    width: 35%;
    left: 35%;
    position: absolute;

}

/*
#rightHalf:hover {
  opacity: 0.5;
}
*/

#profMUA {
    position: absolute;
    left: 35%;
    padding-top: 14%;
    color: #DDB695;
    font-weight: 100;
    letter-spacing: .1vw;
    font-size: 1.2vw;
}

#enter {
    position: absolute;
    left: 47%;
    margin-top: 23%;
    
}

#rightHalf {
   background: url(img/jseqS4FkRxew+liWroL2BA_thumb_5f0.jpg);
   width: 50%;
   position: absolute;
   right: 0px;
   height: 100%;
    background-size: cover;
    float: right;
    overflow: hidden;
}

#portfolio {
    display: none;
    padding-right:0 !important;
    padding-left:0 !important;
    max-width: initial !important;
    overflow: hidden;
}

#main-page-name, #portfolio-footer {
    background-color: black;
    padding-right:0 !important;
    padding-left:0 !important;
    max-width: initial !important;
    text-align: center;
}

#logo-portfolio {
    width: 18%;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

#portfolio-heading, #contact {
    color: #DDB695;
    font-weight: 100;
    letter-spacing: .1vw;
    font-size: .8vw;
    margin-top: -2%;
    padding-bottom: 2%;
    margin-bottom: 0;
}

#contact:link {
    color: #DDB695;
    text-decoration: none;
}

#contact:hover {
    color: white;
    text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

#portfolio-footer {
    margin: 0;
}

#contact-footer {
    margin:0;
    padding: 2%;
    margin-top: 0.5%;
    font-weight: 100;
    color: white;
    font-size: .8vw;
    letter-spacing: .1vw;
}